html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-header {
  padding: 0.75rem 0;
}

.card-deck {
  gap: 30px;
}

.card-deck .card {
  flex: 1 1 250px;
  margin-bottom: 30px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.price-btn {
  width: 95%;
}

small {
  font-size: 0.8em;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.modal-show {
  display: block;
  width: 70%;
  background-color: #f4f4f5;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 15px;
  max-width: 700px;
}

.modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 100%;
}

.close {
  font-size: 36px;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input[type="range"] {
  height: 0.75rem;
}

.range {
  margin-top: -7px;
}

.range span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 0 6px; */
}

.range span p {
  margin-bottom: 0;
}

.highlight {
  box-shadow: 0 0 10px 0 #0d6dfda5;
  scale: 1 1.1;
  transition: all 0.1s;
}
